<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5DwMpXgH_wydbIP5BTs0JF58lY5u_p8s</string>
	<key>GCM_SENDER_ID</key>
	<string>587793687612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allanox.easygarage.app</string>
	<key>PROJECT_ID</key>
	<string>tajirent-39852</string>
	<key>STORAGE_BUCKET</key>
	<string>tajirent-39852.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587793687612:ios:49f58e043fc566c0678f39</string>
</dict>
</plist>